#head{
    color:white;
    width:960px;
    margin:auto;
    border-bottom:dashed 1px white;
    margin-bottom:5px;
}
body{
    font-family:'Helvetica Neue',Arial,'liberation Sans',FreeSans,'Hiragino Sans GB',sans-serif;
    background-image:url(bg.jpg);
}

a{
    color:gray;
    text-decoration:none;
}

.clearfloat{
    clear:both;/*清除左右浮动*/
}

#wrapper{
    width:960px;
    margin:auto;
    margin-top:10px;
}

.main{
    width:650px;
    background-color:white;
    float:left;/*往左浮动*/
    margin-right:20px;
    border-radius:6px;
    padding:15px;
}

.side{
    width:240px;
    background-color:white;
    float:right;/*往右浮动*/
    border-radius:6px;
    padding:10px;
    padding-bottom:10px;
    padding-top:10px;
}

#footer{
    width:960px;
    height:70px;
    margin:auto;
    border-top:dashed 1px white;
    margin-top:20px;
}

.logo_title{
    float:left;
}
.logo_title h1{
    font-size:30px;
}

.logo_title h2{
    font-size:20px;
}

.naviBar{
    float:right;
}
.naviBar ul{
    list-style:none;
    margin-top:78px;
}
.naviBar ul li{
    display:inline-block;
    margin-right:20px;
}

.naviBar ul li a{
    color:white;
    border: solid 1px white;
    padding:4px;
    padding-left:15px;
    padding-right:15px;
    border-radius:4px;
    font-size:10px;
}
.item{
    border-bottom:dashed 1px #ccc;
    padding-bottom:10px;
    margin-top:14px;
}

.item_image{
    float:left;
    width:100px;
}

.item_image img{
    width:80px;
    padding-top:8px;
}

.item_content{
    padding-left:100px;
    margin:0;
}

.item_content h3{
    font-size:16px;
    color:#a5612d;
    margin:0;
}

.item_info{
    font-size:10px;
    color:#999;
    font-style:italic;
    margin:0;
}
.item_descri{
    font-size:14px;
    color:gray;
    margin:0;
    margin-top:20px;
    border-left:solid 1px #ccc;
    padding-left:10px;
}

.author_Image{
    width:120px;
    margin:auto;
}

.author_Image img{
    width:120px;
    border:solid 1px #ccc;
    border-radius:6px;
}

.author_descri{
    text-align:center;
    border:solid 1px #ccc;
    border-radius:6px;
    background-color:#eee;
    padding-bottom:15px;
    padding-top:10px;
    margin-top:5px;
}

.author_descri h4{
    margin:0;
    margin-bottom:10px;
}

.author_descri p{
    margin:0;
    font-size:14px;
}

.top_article h3{
    font-size:18px;
    font-style:italic;
    border-bottom:dashed 1px #ccc;
    color:999;
    padding-bottom:5px;
}
.top_article ul{
    margin:0;
    margin-top:10px;
    padding-left:14px;
    list-style:none;
}

.top_article ul li{
    margin:0;
    padding-bottom:8px;
    font-size:14px;
    color:gray;
}

.site_info{
    margin-top:20px;
    border-top:solid 1px #ccc;
}

.site_info p{
    font-size:14px;
    color:gray;
    padding-left:60px;
    margin:0;
    margin-top:10px;
}

.copyRight{
    float:left;
    color:white;
}

.copyRight p{
    margin:0;
    float:left;
    font-size:14px;
    padding-top:10px;
}

.site_link ul{
    margin:0;
    float:right;
    list-style:none;
    padding-top:8px;
}

.site_link ul a {
    color:white;
    font-size:14px;
}

.site_link ul li{
    display:inline-block;
    padding-right:10px;
}