---
layout: base
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <h2 class="post-list-heading">{{ page.upcoming_list | default: "Reading List" }}</h2>
  {{ content }}

  <hr>

  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.archive_list | default: "Previous Paper Reading Sessions" }}</h2>
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%I%P %b/%d/%Y (%a)" -%}
      <span class="post-meta post-col-wrapper">
        <span class="post-col post-col-1">{{ post.date | date: date_format }}</span>
        <span class="post-col post-col-2">{{ post.location | defaulg: "Not Provided" }}</span>
        <span class="post-col post-col-3">Leader: {{ post.leader | default: "TBD" }}</span>
        <span class="post-col post-col-4"><a href="{{ post.url | relative_url }}">Details</a></span>
      </span>
      <a class="post-link" href="{{ post.link }}"> {{ post.title | escape }} </a>
    </li>
    {%- endfor -%}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ '/feed.xml' | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>